TELEGRAM_TOKEN=8810831077:AAFyY9_QmsCoD8fq9j1pTKc-Zy0M7Bg1dCg
STRIPE_SECRET_KEY=sk_test_51TmyvaPHY0x6cbdRGwieh05DNBzobwlZrL7DvRngpf3USWkAwPXkHTrYlOLQSJRYr8AGfLnyYIYRZcImlh9Ktb1v00BUXkXLII
STRIPE_PUBLISHABLE_KEY=pk_test_51TmyvaPHY0x6cbdRp9eG0N5yx8W0W3zZTyI38sLXVbIZEXFcAzkeq0YBUWcvphnZOXWBBQ9KoWBOtPeVHNONAY0Y00U0Hfcjk8
DATABASE_URL=sqlite:///fir_bot.db
GEMINI_API_KEY=AQ.Ab8RN6LMTI8XOvSpC_l_ISlqFLsIxHB2hSxpDqsE3OsQEQ50Yg
ADMIN_USER_ID= t.me/Bharatfir