echo python-telegram-bot==20.6 > requirements.txt
echo python-dotenv==1.0.0 >> requirements.txt
echo qrcode==7.4.2 >> requirements.txt
echo Pillow==9.5.0 >> requirements.txt
echo google-generativeai==0.3.2 >> requirements.txt
echo reportlab==4.2.2 >> requirements.txt
echo pydub==0.25.1 >> requirements.txt
echo SpeechRecognition==3.10.4 >> requirements.txt
echo requests==2.31.0 >> requirements.txt
echo aiofiles==23.2.1 >> requirements.txt